.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.App-header {
  text-align: center;
  padding-top: 24px;
  font-size: calc(10px + 2vmin);
}

.data-display {
  min-width: 24em;
}

.loading-msg {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  max-width: 64em;
  font-size: calc(10px + 1vmin);
}

li {
  list-style-type: none;
}
